<div class="footer">
	<div class="pagination">
	  {% if page..url == "/" %}
	    {% if paginator.next_page %}
		  <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">&larr; Previous</a>
		{% else %}
		  <span class="pagination-item older">&larr; Previous</span>
		{% endif %}

		{% if paginator.previous_page %}
		  {% if paginator.page == 2 %}
		    <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Next &rarr;</a>
		  {% else %}
		    <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Next &rarr;</a>
		  {% endif %}
		{% else %}
		  <span class="pagination-item newer">Next &rarr;</span>
	    {% endif %}
	  {% else %}
	    {% if page.previous.url %}
	      <a class="pagination-item older" href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
	    {% else %}
	      <span class="pagination-item older">&larr; Previous</span>
	    {% endif %}

	    {% if page.next.url %}
	      <a class="pagination-item newer" href="{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
	    {% else %}
	      <span class="pagination-item newer">Next &rarr;</span>
	    {% endif %}
	  {% endif %}
  </div>
</div>
