<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
  <style>
    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }
    .site-link {
      display: flex;
      gap: 0.5rem;
      text-decoration: none;
    }
    .site-logo {
      margin: 0;
      animation: rotation 10s infinite linear;
    }
  </style>

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a class="site-link" href="{{ site.baseurl }}">
              <img class="site-logo" src={{ "/public/logo-32x32.png" | relative_url }} width="32" height="32" alt="" />
              <strong class="site-title">{{ site.title }}</strong>
            </a>
            <small class="site-tagline">{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script src='{{ site.baseurl }}/public/js/script.js'></script>
  </body>
</html>
